src/main/resources/META-INF/mytag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.wangxm.com/schema/mytag"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.wangxm.com/schema/mytag"
            elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xsd:element name="user">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="userName" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="email" type="xsd:string"></xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>